@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap');

$font : "Poppins",
sans-serif;


//palette colors theme
$color-purple-dark: #7400b8; // Dark Purple
$color-purple-mid: #6930c3; // Mid Purple
$color-purple-light-mid: #5e60ce; // Light Mid Purple
$color-blue-dark: #5390d9; // Dark Blue
$color-blue-mid: #4ea8de; // Mid Blue
$color-blue-light-mid: #48bfe3; // Light Mid Blue
$color-cyan-mid: #56cfe1; // Mid Cyan
$color-cyan-light-mid: #64dfdf; // Light Mid Cyan
$color-cyan-light: #72efdd; // Light Cyan
$color-cyan-lightest: #80ffdb; // Lightest Cyan



// palette colors common

// Shades of Purple
$color-purple-dark: #7400b8; // Dark Purple
$color-purple-mid: #6930c3; // Mid Purple
$color-purple-light-mid: #5e60ce; // Light Mid Purple

// Shades of Blue
$color-blue-dark: #5390d9; // Dark Blue
$color-blue-mid: #4ea8de; // Mid Blue
$color-blue-light-mid: #48bfe3; // Light Mid Blue

// Shades of Cyan
$color-cyan-mid: #56cfe1; // Mid Cyan
$color-cyan-light-mid: #64dfdf; // Light Mid Cyan
$color-cyan-light: #72efdd; // Light Cyan
$color-cyan-lightest: #80ffdb; // Lightest Cyan

// Common Colors
$color-red: #ff0000; // Red
$color-white: #ffffff; // White
$color-black: #000000; // Black
$color-black-light: #1a1a1a; // Black