@use "../utils";

html {
    box-sizing: border-box;
    font-size: 100%;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    font-family: utils.$font;
    background-color: utils.$color-black-light;
    color: utils.$color-white;
    min-height: 100vh;
    position: relative;
}

.watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}

.watermark-logo {
    width: 85px;
    height: 80px;
    filter: invert(100%);
    margin-right: 10px;

}

.watermark-text {
    font-size: 45px;

    &-span {
        color: utils.$color-cyan-lightest;
    }
}

.error {
    position: fixed;
    top: 120px;
    left: 90%;
    z-index: 1000000000000000000000;
    transform: translate(-50%);
}

.error-btn {
    width: 200px;
    height: 70px;
    border: none;
    background-color: utils.$color-red;
    border-radius: 5px;
    outline: 1px solid utils.$color-white;
    color: utils.$color-white;
    font-size: 20px;
}


// ul {
//     list-style: none;
//     margin-bottom: 0;
// }

a {
    text-decoration: none !important;
    color: inherit;
}