@use "../../utils";

.shipping {
    margin: 20px 80px;

    &-container {
        padding: 40px 80px;
        background-color: utils.$color-black-low-contrast-1;
        border-radius: 15px;

        .progress-bar {
            height: 4px;
            background-color: utils.$color-grey-dark;
            margin-bottom: 20px;
        }

        .progress {
            height: 100%;
            background-color: utils.$color-progress-green;
            transition: 0.2s ease;
        }

        .steps {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .step {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .step-number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                font-weight: 700;
                background-color: utils.$color-grey-dark;
                color: utils.$color-black;
                margin-bottom: 15px;
                z-index: 2;
            }

            .step-name {
                font-size: 14px;
            }

            .active .step-number {
                background-color: utils.$color-cyan-lightest;
            }

            .complete .step-number {
                background-color: utils.$color-cyan-lightest;
            }

        }

        .step-component {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px auto;
            padding: 35px;
            max-width: 60%;
            background-color: utils.$color-black-low-contrast-2;
            border-radius: 20px;
            box-shadow: 0 4px 30px utils.$color-purple-light-mid;
            backdrop-filter: blur(4.8px);
            -webkit-backdrop-filter: blur(4.8px);
            border: 1px solid utils.$color-cyan-light;

            .shipping-info {
                display: flex;
                flex-direction: column;

                .input-wrapper {
                    margin-bottom: 1.5em;
                    gap: 2em;
                }

                input {
                    width: 100%;
                    height: 50px;
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    font-size: 16px;
                }

                &-name,
                &-location {
                    display: flex;
                }

                .save {
                    display: flex;
                    justify-content: flex-end;
                    gap: 1em;

                    .btn {
                        width: 100px;
                        height: 40px;
                        font-size: 20px;
                        border: none;
                        border-radius: 5px;
                        outline: 1px solid utils.$color-white;
                        color: utils.$color-white;
                        background-color: utils.$color-black;
                        cursor: pointer;
                    }

                    .saved-btn {
                        background-color: utils.$color-grey-dark;
                        color: utils.$color-grey;
                        outline: none;
                    }
                }
            }

            .shipping-method {
                width: 80%;


                .radio-wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    font-size: 13px;

                    .radio {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 10px;
                        border: 1px solid utils.$color-grey;
                        padding: 10px;
                        margin-bottom: 10px;
                        font-weight: 500;
                        cursor: pointer;

                        input[type='radio'] {
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                            color: utils.$color-black;
                            cursor: pointer;
                        }

                        &.selected {
                            background-color: utils.$color-cyan-light;
                            color: utils.$color-black;
                            border: 1px solid utils.$color-white;
                        }
                    }
                }
            }

            .order-summary {
                margin: 1em;

                .break-line {
                    margin-top: 40px;

                    hr {
                        border: none;
                        height: 5px;
                        background-color: utils.$color-purple-light-mid;
                    }
                }

                .order-summary-table {
                    width: 100%;
                    border-collapse: collapse;

                    th,
                    td {
                        padding: 8px 15px;
                        border-bottom: 1px solid utils.$color-white-light;
                        text-align: center;
                    }

                    th {
                        color: utils.$color-black;
                        background-color: utils.$color-white-light;
                    }

                    th:first-child,
                    td:first-child {
                        text-align: start;
                    }

                    // td:first-child>div {
                    //     /* Apply styles to wrap the item title */
                    //     overflow: hidden;
                    //     white-space: nowrap;
                    //     text-overflow: ellipsis;
                    // }

                    .subtotal {
                        td {
                            padding-top: 20px;
                            border: none;
                        }
                    }

                    .shipping-charge {
                        td {
                            font-style: italic;
                        }
                    }

                    .total-charge {
                        font-weight: 500;

                        &-title {
                            color: utils.$color-cyan-light;
                            font-size: 20px;
                        }

                        &-price {
                            font-size: 20px;
                        }
                    }
                }
            }

            .shipping-summary-table {
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .proceed {
            display: flex;
            justify-content: space-between;
            margin: 0 80px;

            &-btn {
                width: 160px;
                height: 50px;
                font-size: 20px;
                border: none;
                border-radius: 5px;
                outline: 2px solid utils.$color-purple-light-mid;
                color: utils.$color-white;
                background: transparent;
                // background-color: utils.$color-purple-light-mid;
                cursor: pointer;

                &.continue-first-step {
                    margin-left: auto;
                }
            }

            &-btn:hover {
                background-color: utils.$color-purple-light-mid;
            }


            .disabled {
                background-color: utils.$color-grey-dark;
                color: utils.$color-grey;
                cursor: not-allowed;
            }

            &-btn.hide {
                display: none;
            }
        }
    }

    .failed {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-heading {
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
        }

        &-icon {
            margin-left: 0.5em;
            color: utils.$color-red;
            font-size: 35px;
        }
    }

    .success {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-heading {
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
        }

        &-icon {
            margin-left: 0.5em;
            color: utils.$color-progress-green;
            font-size: 35px;
        }
    }

    .order-placed-container {
        color: utils.$color-white-light;

        .order-placed {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .success-icon {
                margin-left: 0.5em;
                color: utils.$color-progress-green;
                font-size: 45px;
            }

            .failed-icon {
                margin-left: 0.5em;
                color: utils.$color-red;
                font-size: 35px;
            }
        }

        .order-placed-wrapper {
            min-width: 100%;

            h2,
            p {
                margin: 0;
                padding: 0;
            }

            .shipping-to,
            .order-details {
                border: 2px solid utils.$color-white;
                border-radius: 20px;
                padding: 20px;
            }
        }
    }
}


@include utils.breakpoint(small) {

    .shipping {
        margin: 10px 20px;

        &-container {
            padding: 20px 20px;



            .steps {
                margin-bottom: 10px;


                .step-number {
                    width: 20px;
                    height: 20px;
                    margin-bottom: 10px;
                }

                .step-name {
                    font-size: 8px;
                }

            }

            .step-component {
                margin: 20px auto;
                padding: 25px;
                max-width: 100%;
                border-radius: 20px;

                .shipping-info {
                    .input-wrapper {
                        margin-bottom: 1em;
                        gap: 1em;
                    }

                    input {
                        width: 100%;
                        height: 25px;
                        border-radius: 5px;
                        padding: 5px;
                        font-size: 12px;
                    }

                    .save {
                        gap: 0.5em;

                        .btn {
                            width: 60px;
                            height: 25px;
                            font-size: 16px;
                        }
                    }
                }

                .shipping-method {
                    width: 100%;

                    .span-info {
                        font-size: 12px;
                    }

                    .radio-wrapper {
                        width: 100%;

                        .radio {
                            font-size: 12px;
                        }
                    }
                }

                .order-summary {

                    .order-summary-table {

                        th,
                        td {
                            font-size: 12px;
                            padding: 2px 12px;
                        }

                        // td:first-child>div {
                        //     /* Apply styles to wrap the item title */
                        //     overflow: hidden;
                        //     white-space: nowrap;
                        //     text-overflow: ellipsis;
                        // }

                        .total-charge {

                            &-title {
                                font-size: 14px;
                            }

                            &-price {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .shipping-summary-table {
                    font-size: 12px;
                }
            }

            .proceed {
                margin: 0 10px;

                &-btn {
                    width: 80px;
                    height: 40px;
                    font-size: 13px;
                    border: none;
                }
            }
        }

        .order-placed-container {

            .order-failed {
                font-size: 14px;
            }

            .order-placed {
                width: 100%;
                padding: 5px;
                font-size: 12px;
 
                .success-icon {
                    font-size: 35px;
                }
            }

            .order-placed-wrapper {

                .shipping-to,
                .order-details {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 14px;
                    padding: 12px;
                }
            }
        }
    }
}