@use "../utils";

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: utils.$color-white;
    border-bottom: 2px solid utils.$color-cyan-lightest;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: utils.$color-black;

    .header {
        column-gap: 1em;
        display: flex;

        &__logo {
            display: flex;

            img {
                width: 85px;
                height: 80px;
                filter: invert(100%);
            }

            &-text-span {
                color: utils.$color-cyan-lightest;
            }
        }

        &__search {
            display: flex;
            align-items: center;

            &__box {
                position: relative;
                min-width: 500px;
                display: flex;
                align-items: center;
                height: 40px;
                border: 1px solid utils.$color-white;
                border-radius: 15px;

                &-input {
                    color: utils.$color-white;
                    outline: none;
                    border: none;
                    background: transparent;
                    width: 100%;
                    font-size: 20px;
                }

                &-icon {
                    font-size: 30px;
                    margin: 0 10px;
                }
            }
        }

        .search__list {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: utils.$color-white;
            min-width: 500px;
            top: 50px;
            z-index: 10;
            color: utils.$color-black;
            font-size: 12px;
            overflow-y: scroll;
            max-height: 500px;
            padding: 20px;

            .user-text {
                font-size: 15px;
                line-height: 1;
                font-weight: 700;
            }

            &-item {
                display: flex;
                gap: 2em;
                margin-bottom: 5px;
                padding: 10px;

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            &-item:hover {
                background-color: utils.$color-cyan-light;
                cursor: pointer;
            }


        }

        &__navigation {
            display: flex;
            align-items: center;
            column-gap: 3em;

            &__menu {
                column-gap: 3em;
                display: flex;
                align-items: center;
                list-style: none;

                .icon {
                    clear: both;
                    font-size: 25px;
                }
            }

            &__active {
                font-weight: 700;
                color: utils.$color-cyan-lightest;
            }

            &__icons {
                font-size: 25px;
                display: flex;
                align-items: center;
                column-gap: 3em;


                &__like,
                &__cart,
                &__user {
                    position: relative;

                    &__badge {
                        position: absolute;
                        bottom: 70%;
                        left: 60%;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        background-color: utils.$color-white;
                        color: utils.$color-black;
                        font-weight: 700;
                        font-size: 0.8rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 10;
                    }

                    &__dropdown {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        background-color: utils.$color-white;
                        min-width: 350px;
                        top: 50px;
                        right: 0;
                        z-index: 1000;
                        color: utils.$color-black;
                        font-size: 12px;
                        overflow-y: none;
                        max-height: 500px;
                        padding: 20px;

                    }

                    &__dropdown:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-right: 1px;
                        margin-top: -14px;
                        width: 0;
                        z-index: 1000;
                        height: 0;
                        border-bottom: solid 15px utils.$color-white;
                        border-left: solid 10px transparent;
                        border-right: solid 10px transparent;
                    }

                    .active {
                        color: utils.$color-red;
                    }
                }
            }

            li {
                cursor: pointer;
            }

            &__active:active {
                font-weight: 700;
            }

            &__signin {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid utils.$color-black;

                &-button {
                    background-color: utils.$color-purple-mid;
                    color: utils.$color-white;
                    border: none;
                    font-size: 16px;
                    border-radius: 5px;
                    padding: 5px;
                    width: 80px;
                }


                &-button:hover {
                    background-color: utils.$color-purple-dark;
                }

                &-button:active {
                    background-color: utils.$color-purple-light-mid;
                }

                p {
                    font-size: 15px;
                }

                span {
                    color: utils.$color-blue-dark;
                }

                span:hover {
                    text-decoration: underline;
                }

            }

            &__dropdownlist {
                font-size: 15px;
                padding: 5px;

                &-item:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}