@use "../../utils";

.shopping__cart {
    margin: 40px 80px;

    &-container {
        background: rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        box-shadow: 0 4px 30px utils.$color-purple-light-mid;
        backdrop-filter: blur(4.8px);
        -webkit-backdrop-filter: blur(4.8px);
        border: 1px solid utils.$color-cyan-light;
        padding: 20px;
    }

    &-items {
        border-bottom: 1px solid utils.$color-white;
    }

    &-item {
        display: flex;
        column-gap: 2em;
        border-bottom: 1px solid utils.$color-white;

        &-image {
            padding: 20px;

            img {
                width: 150px;
                height: 150px;
            }
        }

        &-details {
            min-width: 60%;
            margin-bottom: 45px;


            select {
                background-color: utils.$color-white;
                width: 60px;
                height: 30px;
                font-size: 20px;
                padding: 0 5px;
                margin: 5px;
                border-radius: 10px;
            }
        }

        &-price {
            font-size: 30px;
            display: flex;
            width: 100%;
            justify-content: flex-end;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 2em;
                padding-right: 10px;
            }

            .icon {
                cursor: pointer;
                color: utils.$color-red;
                ;
            }
        }

    }
    
    .cart-heading {
        text-align: center;
        width: 100%;
        background-color: utils.$color-white;
        color: utils.$color-black;
    }
    
    &-subtotal {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        background-color: utils.$color-white;
        color: utils.$color-black;
        margin: 20px 0;
    }
}