@use "../../utils";

.like {
    margin: 40px 80px;

    &-container {
        background: rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        box-shadow: 0 4px 30px utils.$color-purple-light-mid;
        backdrop-filter: blur(4.8px);
        -webkit-backdrop-filter: blur(4.8px);
        border: 1px solid utils.$color-cyan-light;
        padding: 20px;
    }

    &-items {
        padding: 20px;
        border: 1px solid utils.$color-white;
    }

    &-heading {
        text-align: center;
        width: 100%;
        background-color: utils.$color-white;
        color: utils.$color-black;
    }

    &-item {
        display: flex;
        column-gap: 2em;
        border-bottom: 1px solid utils.$color-white;

        &-image {
            padding: 20px;

            img {
                width: 150px;
                height: 150px;
            }
        }

        &-details {
            min-width: 60%;
            margin-bottom: 45px;

            &-heading {
                color: utils.$color-white;
            }

            &-description {
                color: utils.$color-grey
            }
        }

        &-price {
            font-size: 30px;
            display: flex;
            width: 100%;
            justify-content: flex-end;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 2em;
                padding-right: 10px;
            }

            .icon {
                cursor: pointer;
                color: utils.$color-red;
            }
        }
    }

    .fade {
        opacity: 0.4;
    }

    .add-to-cart {
        width: 150px;
        height: 50px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        outline: 1px solid utils.$color-black;
        color: utils.$color-white;
        background-color: utils.$color-purple-light-mid;
        cursor: pointer;
    }

    .add-to-cart:hover {
        background-color: utils.$color-purple-mid;
    }

    .add-to-cart:active {
        outline: 2px solid utils.$color-cyan-lightest;
        outline-offset: 2px;
    }
}


@include utils.breakpoint(small) {

    .like {
        margin: 20px 40px;


        &-items {
            padding: 20px;
            border: 1px solid utils.$color-white;
        }

        &-heading {
            font-size: 16px;
        }

        &-item {
            flex-direction: column;
            align-items: center;

            &-image {
                img {
                    width: 120px;
                    height: 120px;
                }
            }

            &-details {
                display: flex;
                flex-wrap: wrap;

                &-heading {
                    font-size: 16px;
                }
            }

            &-price {
                font-size: 30px;
                flex-direction: row;
                width: 100%;
                justify-content: flex-start;

                div {
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 10px;
                }
            }
        }

        .add-to-cart {
            width: 120px;
            height: 40px;
            font-size: 16px;
            border: none;
        }
    }
}